body {
    overflow: auto;
    height: initial;
}

#posting, #posting-select-mode {
    margin: 0;
    padding: 1rem;
    color: gray;
}

#posting {
    
    font-size: small;
    border-bottom: 1px solid #c8c8c8;
}

#like-count{
    margin-right: 1rem;
}

#like-icon, #hate-icon, #comment-count {
    margin-right: 0.5rem;
}

#posting-select-mode>.btn{
    border-radius: 0.2rem;
    border: 1px solid #c8c8c8;
}
#posting-title{
    font-size: 1.125rem;
    color: black;
}

#comment-icon, #like-icon, #hate-icon {
    font-size: 1.125rem;
}

.bookmark-icon {
    transition:all 0.15s;
    position:absolute;
    right: 1rem;
}

.reality-title{
    font-size: 1rem;
    font-weight: bold;
}
.reality-address{
    font-size: 0.5rem;
    color: gray
}
.select-page {
    width: 100%;
}
.select-page > label {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.silgeorae-text, .rent-text{
    font-weight: bold;
    font-size: 0.75rem;
}
.silgeorae-desc, .rent-desc{
    color: gray;
    font-size: 0.625rem;
}
.silgeorae-amount, .silgeorae-value, .rent-amount, .rent-value{
    color: rgb(255, 0, 0);
}
.silgeorae-value, .rent-value{
    font-size: 0.825rem;
}
.silgeorae-amount, .rent-amount{
    font-weight: bolder;
    font-size: 2rem;
}
.silgeorae-container {
    margin: 0 1rem;
    padding: 1rem 0;
}
.posting-desc-user::after, .posting-desc-time::after{
    content: "ã†";
}

.tab-content {
    display: none;
}
  
.tab-content.current {
    display: inherit;
}

#tab-3, #tab-4{
    height: 67.5vh;
    text-align: center;
    line-height: 67.5vh;
    background: gainsboro;
}

.table{
    --bs-table-active-color: gray;
    --bs-table-active-bg:#f7f7f7;
}

.table-active {
    font-weight: 100;
    font-size: 0.5rem;
}

td {
    font-weight: 100;
    font-size: 0.75rem;
}

.tab-1-title {
    font-size: 1.25rem;
    font-weight: bolder;
}

.silgeorae-select-btn {
    font-size: 0.375rem;
    border-radius: 0.2rem;
    border: 1px solid #dedede;
    color:gray;
}

.select-page > .btn-check:checked+.btn{
    border-bottom: 3px solid #272638;
    font-weight: bold;
}

#silgeorae-select-mode > .btn-group >  .btn-check:checked+.btn{
    border: 1px solid #dedede;
    background-color: #e9e9e9;
    font-weight: bold;
}