#main {
    height: 100%;
    max-height: 100%;
}

input, textarea {
    width:100%;
    outline: none;
    border: none;
    resize: none;
}

textarea{
    height: 100%;
}

#posting-title{
    font-weight: 900;
}

#content {
   flex: 1;
}

#submit, #title{
    font-size: 1.25rem;
}

#submit-button{
    color: #248F97;
    border: none;
    appearance: none;
    background: transparent;
}

#input-title {
    font-weight: bold;
}