body {
    overflow: auto;
    height: initial;
}

#posting {
    margin: 0;
    padding: 1rem;
}

.input-container, .comment{
    margin: 0 1rem;
    padding: 1rem 0;
    
}

#posting {
    font-size: medium;
}

.like-count{
    margin-right: 1rem;
}

.like-icon, .hate-icon, .comment-count {
    margin-right: 0.5rem;
}

#posting-title{
    font-size: 1.125rem;
    color: black;
}

.material-symbols-outlined {
    font-size: 1.125rem;
}

.line { 
    height: 5px;
    width: 100%;
    border-top: 2px solid #c8c8c8;
    background-color: #d8d8d8;
}

.comment-input, .comment-update{
    border-radius: 0.125rem;
}

.input-group {
    width: auto;
}

#like-count{
    margin-right: 1rem;
}

#recommend-comment-icon, #recommend-hate-icon, #recommend-like-icon,
#like-icon, #hate-icon, #comment-count {
    margin-right: 0.5rem;
}

#comment-icon, #like-icon, #hate-icon {
    font-size: 1.125rem;
}

#posting-user {
    font-size: 0.75rem;
    color: gray;
}

.recommend-posting {
    margin: 0 1rem;
    padding: 1rem 0;
}

.posting-desc-user::after, .posting-desc-time::after {
    content: "ㆍ";
}

.recommend-posting-nickname::after , .recommend-posting-desc-time::after, .recommend-posting-desc-hit::after{
    content: "│";
}

.recommend-posting > #posting-footer{
    font-size: 0.5rem;
    color: gray;
}

#recommend-comment-icon, #recommend-hate-icon, #recommend-like-icon {
    font-size: 0.75rem;
}

