{% extends "base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community/login.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center flex-column" id="main">
<div class="card shadow rounded-3" style="width: 100%;">
    <div class="card-body" style="text-align: center">
      <h3 class="card-title">로그인</h3>
      <h6 class="card-subtitle mb-4">단지, 톡으로 원하는 단지에 대해 소통하세요.</h6>
      <hr class="top-hr">
      <div class="social-container naver-container mb-3">
        {% load socialaccount %}
        {% if user.is_authenticated %}
            <a href="/accounts/logout" type="button" class="h1">로그아웃</a>   
        {% else %}                
            <a href="{% provider_login_url 'naver'%}">네이버 로그인</a>        
        {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$('#login-button').click(function() {
    let email = $('#input-email').val();
    let password = $('#input-password').val();

    $.ajax({
        url: "/community/login",
        data: {
            email: email,
            password: password,
        },
        type: "POST",
        success: function (data) {
            console.log("Success : Login button", data);
            location.replace("/");
        },
        error: function (request, status, error) {
            console.log("Error : Login button", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Login button", data);
        }
    });
})
</script>
{% endblock %}