{% extends "base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community/profile.css' %}">
{% endblock %}
{% block content %}
<div id="main">
    
    <div style="width: 100%; margin-bottom: 60px;" class="d-flex align-items-center justify-content-center flex-column">
        <div style="height: 150px;width: 100%;" class="bg-secondary bg-gradient"></div>
        <img style="position: absolute; top: 162.5px;" id="profile-image" src="{% get_media_prefix %}{{ user.profile_image }}" class="img-fluid rounded-circle shadow profile">
    </div>
    <div class="container d-flex flex-column border-bottom" style="text-align:left">
        <div class="nickname-container">
            <div class="nickname-display d-flex ">
                <div class="nickname">
                    {{user.nickname}}
                </div>
                <span class="material-symbols-outlined nickname-setting-update-btn" style="font-size: 1rem;">
                    edit
                </span>
            </div>
            <div class="input-group d-none">
                <input class="nickname-update form-control" type="text" placeholder="닉네임">
                <button class="nickname-update-btn btn btn-outline-secondary" type="button">등록</button>
            </div>
        </div>
        
        <h6>{{user.name}}</h6>
        <h6>{{user.email}}</h6>
        {% load socialaccount %}
        <a href="/accounts/logout" type="button "class="link-danger mb-2">로그아웃</a>
    </div>
    <div>
        <ul id="reality-list">
            {% for item in reality_list %}
            <li class="reality-item">
                <button type="button" class="btn btn-light reality-btn" reality-id = "{{item.reality.id}}">
                    <div class="label-container">
                        <span>{{item.reality.first_name}} {{item.reality.second_name}}</span>
                    </div>
                    <div class="desc">
                        <span>{{item.reality.address}}</span>
                    </div>
                    <div class="bookmark-container d-flex align-items-center justify-content-center">
                        {% if item.is_mark %}
                            <span style="margin-right: 0.5rem;" class="fill-yellow material-symbols-outlined">
                                star
                            </span>
                            <span class="fill-yellow">
                                {{item.bookmark_count}}
                            </span>
                        {% else %}
                            <span style="margin-right: 0.5rem;" class="material-symbols-outlined">
                                star
                            </span>
                            <span>
                                {{item.bookmark_count}}
                            </span>
                        {% endif %}
                        
                        
                    </div>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(".reality-btn").click(function(){
    let reality_id = $(this).attr("reality-id");
    location.href="/community/"+reality_id;
})

$(".nickname-setting-update-btn").click(function(e){
    var content_container = $(".nickname-display");
    var content = $(".nickname");
    var update_container = $(".nickname-container>.input-group");
    var update_content = update_container.children('input');

    content_container.addClass('d-none');
    update_content.val(content.text().trim());
    update_container.removeClass('d-none');
})

$(".nickname-update-btn").click(function(e){
    var content_container = $(".nickname-display");
    var content = $(".nickname");
    var update_container = $(".nickname-container>.input-group");
    var update_content = update_container.children('input');

    content_container.removeClass('d-none');
    update_container.addClass('d-none');

    var s = update_content.val().trim();

    if (s=='') return alert('내용을 입력하세요.');
    content.text(update_content.val().trim());

    $.ajax({
        url: "/community/profile/update",
        data: {
            nickname: s
        },
        type: "POST",
        success: function (data) {
            console.log("Success : Update Profile Button", data);
        },
        error: function (request, status, error) {
            console.log("Error : Update Profile Button", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Update Profile Button", data);
        }
    });
})
</script>
{% endblock %}