{% extends "base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community/read.css' %}">
{% endblock %}
{% block navbar %}
<nav class="sticky-top navbar navbar-expand-lg border-bottom" id="navbar">
    <div class="container-fluid">
    <span class="material-symbols-outlined" style="width: 0; font-size:24px;">
        <a style="color: black; text-decoration: none;" href="/community/{{posting.reality.id}}">arrow_back</a>
    </span>
    <a class="navbar-brand" id="title" href="/"><img style="height: 2.5rem;" src="/media/logo.png"></a>
    <div id="container" style="width: 0;" class="d-flex justify-content-end">
        {% if user is not None %}
        <a type="button" class="btn btn-link d-flex justify-content-end p-0" id="profile_btn" href="/community/profile">
            <span class="material-symbols-outlined fill" style="font-size: 2rem;">
                person
            </span>
        </a>
        {% else %}
        <a type="button" class="btn btn-link d-flex justify-content-end p-0" id="login_btn" href="/community/login">
            <span class="material-symbols-outlined fill" style="font-size: 2rem;">
                person
            </span>
        </a>
        {% endif %}
    </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="ad-container">
<ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-vaRO4pBaV7UUqUzq"
data-ad-width = "320"
data-ad-height = "50"></ins>
</div>
<div class=" d-flex align-items-center flex-column" id="main">
    <!-- Modal -->
    <div class="modal fade" id="deletePostingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">게시글 삭제</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            게시글을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger delete-posting">삭제</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">댓글 삭제</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            댓글을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger delete-comment">삭제</button>
            </div>
        </div>
        </div>
    </div>
    
    <div style="width: 100%; border-bottom: 8px solid #e9ecef;">
        <div id="posting" class="border-bottom">
            <div id="posting-title" class="mb-2 d-flex justify-content-between align-items-center">
                <b>{{ posting.title }}</b>
                {% if posting.user == user %}
                
                <div class="post-setting-container dropdown">
                    <span class="posting-setting-icon material-symbols-outlined" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        more_vert
                    </span>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Button trigger modal -->
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deletePostingModal">
                                삭제
                            </button>
                        </li>
                        
                    </ul>
                </div>
                {% endif %}
            </div>
            <div id="posting-user" class="d-flex flex-row align-items-center mb-2">
                <!-- Profile image 
                <img src="{% get_media_prefix %}{{ posting.user.profile_image }}" class="img-fluid rounded-circle shadow profile" style="width:1rem; height:1rem;">
                -->
                <div class="posting-desc-user" style="margin:0 0 0 0;">{{ posting.user.nickname }}</div>
                <div class="posting-desc-time" style="margin:0 0 0 0;">{{ posting.created_at | date:"Y-m-d h:i" }}</div>
                <div class="posting-desc-hit" style="margin:0 0 0 0;">조회수 {{ posting.hits }}</div>
            </div>
            <div id="posting-content" class="mb-2">{{ posting.content }}</div>
            <div id="posting-footer" class=" d-flex flex-row align-items-center justify-content-between">
                <div id="posting-footer-left" class="d-flex flex-row align-items-center">
                    <div class="posting-like-container d-flex flex-row align-items-center">
                        {% if is_like %}
                        <span class="like-icon fill-red material-symbols-outlined">
                            thumb_up
                        </span>
                        <div class="like-count fill-red">{{ like_count }}</div>
                        {% else %}
                        <span class="like-icon material-symbols-outlined">
                            thumb_up
                        </span>
                        <div class="like-count">{{ like_count }}</div>
                        {% endif %}
                    </div>
                    <div class="posting-hate-container d-flex flex-row align-items-center">
                        {% if is_hate %}
                        <span class="hate-icon fill-blue material-symbols-outlined">
                            thumb_down
                        </span>
                        <div class="hate-count fill-blue">{{ hate_count }}</div>
                        {% else %}
                        <span class="hate-icon material-symbols-outlined">
                            thumb_down
                        </span>
                        <div class="hate-count">{{ hate_count }}</div>
                        {% endif %}
                    </div>
                    
                </div>
                <div id="posting-footer-right" class="d-flex flex-row align-items-center">
                    <div class="comment-count">{{ comment_count }}</div>
                    <span class="comment-icon material-symbols-outlined">
                        comment
                    </span>
                </div>
                
            </div>
        </div>

        <div class="input-group input-container border-bottom">
            <input class="comment-input form-control" type="text" placeholder="댓글"/>
            <button class="comment-input-btn btn btn-outline-secondary" type="button">등록</button>
        </div>
        {% for item in comments %}
        <div class="comment border-bottom">
            <div class="comment-user d-flex align-items-center justify-content-between mb-2">
                <div>
                    <!-- Profile image 
                    <img src="{% get_media_prefix %}{{ item.comment.user.profile_image }}" class="img-fluid rounded-circle shadow profile" style="width:1rem; height:1rem;">
                    -->
                    {{ item.comment.user.nickname }}
                </div>
                {% if item.comment.user == user %}
                <div class="comment-setting-container dropdown">
                    <span class="comment-setting-icon material-symbols-outlined" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        more_vert
                    </span>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="comment-setting-update-btn dropdown-item" comment-id="{{item.comment.id}}">
                                수정
                            </button>
                            <!-- Button trigger modal -->
                            <button type="button" class="comment-setting-delete-btn dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" comment-id="{{item.comment.id}}">
                                삭제
                            </button>
                        </li>
                        
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="tabs mb-2" comment-id="{{item.comment.id}}">
                <div class="comment-content" >{{ item.comment.content }}</div>
                <div class="input-group d-none">
                    <input class="comment-update form-control" type="text" placeholder="댓글">
                    <button class="comment-update-btn btn btn-outline-secondary" type="button" comment-id="{{item.comment.id}}">등록</button>
                </div>
            </div>
            <div id="comment-footer" class="d-flex flex-row">
                <div class="comment-like-container d-flex flex-row align-items-center">
                    {% if item.is_like %}
                    <span class="like-icon fill-red material-symbols-outlined" comment-id="{{item.comment.id}}">
                        thumb_up
                    </span>
                    <div class="like-count fill-red">{{ item.like_count }}</div>
                    {% else %}
                    <span class="like-icon material-symbols-outlined" comment-id="{{item.comment.id}}">
                        thumb_up
                    </span>
                    <div class="like-count">{{ item.like_count }}</div>
                    {% endif %}
                </div>
                <div class="comment-hate-container d-flex flex-row align-items-center">
                    {% if item.is_hate %}
                    <span class="hate-icon fill-blue material-symbols-outlined" comment-id="{{item.comment.id}}">
                        thumb_down
                    </span>
                    <div class="hate-count fill-blue">{{ item.hate_count }}</div>
                    {% else %}
                    <span class="hate-icon material-symbols-outlined" comment-id="{{item.comment.id}}">
                        thumb_down
                    </span>
                    <div class="hate-count">{{ item.hate_count }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="posting-container" style="width: 100%;">
        <strong>
            다른 게시글
        </strong>
        {% for posting in postings %}
        <div class="recommend-posting" style="border-bottom: 1px solid #c8c8c8;" posting-id="{{ posting.posting.id }}">
            <div id="posting-title" class="mb-2 d-flex justify-content-between align-items-center">
                <b>{{ posting.posting.title }}</b>
            </div>
            <div id="posting-footer" class=" d-flex flex-row align-items-center justify-content-between">
                <div id="posting-footer-left" class="d-flex flex-row align-items-center">
                    <div class="recommend-posting-nickname">
                        {{ posting.posting.user.nickname }}
                    </div>
                    <div class="recommend-posting-desc-time">{{ posting.posting.created_at | date:"m-d h:i" }}</div>
                    <div class="recommend-posting-desc-hit">조회수 {{ posting.posting.hits }}</div>
                    {% if posting.is_like %}
                        <span id="recommend-like-icon" class="fill-red material-symbols-outlined">
                            thumb_up
                        </span>
                        <div id="like-count" class="fill-red">{{ posting.like_count }}</div>
                    {% else %}
                        <span id="recommend-like-icon" class="material-symbols-outlined">
                            thumb_up
                        </span>
                        <div id="like-count">{{ posting.like_count }}</div>
                    {% endif %}
        
                    {% if posting.is_hate %}
                        <span id="recommend-hate-icon" class="fill-blue material-symbols-outlined">
                            thumb_down
                        </span>
                        <div id="hate-count" class="fill-blue">{{ posting.hate_count }}</div>
                    {% else %}
                        <span id="recommend-hate-icon" class="material-symbols-outlined">
                            thumb_down
                        </span>
                        <div id="hate-count">{{ posting.hate_count }}</div>
                    {% endif %}
                </div>
                <div id="posting-footer-right" class="d-flex flex-row align-items-center">
                    <div id="comment-count">{{ posting.comment_count }}</div>
                    <span id="recommend-comment-icon" class="material-symbols-outlined">
                        comment
                    </span>
                </div>
            
            </div>
        </div>
    {% endfor %}

    </div>

    
</div>
{% endblock %}

{% block script %}
<script>
let inputComment_function = function(){
    if  ('{{user}}'=='None'){
        return location.href = '/community/login'
    }

    let user_id = '{{user.id}}';
    let content = $('.comment-input').val().trim();

    if (content == '') return alert('내용을 입력하세요.');

    $.ajax({
        url: "/community/create/{{posting.id}}",
        data: {
            content: content,
            user_id: user_id,
        },
        type: "POST",
        success: function (data) {
            console.log("Success : Create Comment", data);
            location.reload();
        },
        error: function (request, status, error) {
            console.log("Error : Create Comment", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Create Comment", data);
        }
    });
}

$('.comment-input').keyup(function(key){
    if (key.keyCode == 13) inputComment_function();
});

$('.comment-input-btn').click(function(){
    inputComment_function();
});

$('.posting-like-container > .like-icon').click(function(){
    let user_id = '{{user.id}}';
    let isLike = '{{is_like}}' == 'True'
    let isHate = '{{is_hate}}' == 'True'

    if (!isHate) {
        $.ajax({
            url: "/community/like/{{posting.id}}",
            data: {
                user_id: user_id,
                is_like: isLike
            },
            type: "POST",
            success: function (data) {
                console.log("Success : Like Button", data);
                location.reload();
            },
            error: function (request, status, error) {
                console.log("Error : Like Button", request, status, error);
            },
            complete: function (data) {
                console.log("Complete : Like Button", data);
            }
        });
    }
});
$('.posting-hate-container > .hate-icon').click(function(){
    let user_id = '{{user.id}}';
    let isLike = '{{is_like}}' == 'True'
    let isHate = '{{is_hate}}' == 'True'

    if (!isLike) {
        $.ajax({
            url: "/community/hate/{{posting.id}}",
            data: {
                user_id: user_id,
                is_hate: isHate
            },
            type: "POST",
            success: function (data) {
                console.log("Success : Hate Button", data);
                location.reload();
            },
            error: function (request, status, error) {
                console.log("Error : Hate Button", request, status, error);
            },
            complete: function (data) {
                console.log("Complete : Hate Button", data);
            }
        });
    }
});
$('.comment-like-container > .like-icon').click(function(){
    let user_id = '{{user.id}}';
    let isLike = $(this).hasClass('fill-red');
    let isHate = $('.hate-icon[comment-id='+$(this).attr('comment-id')+']').hasClass('fill-blue');
    console.log(isLike);

    if (!isHate) {
        $.ajax({
            url: "/community/comment/like/"+$(this).attr('comment-id'),
            data: {
                user_id: user_id,
                is_like: isLike
            },
            type: "POST",
            success: function (data) {
                console.log("Success : Like Button", data);
                if (isLike){
                    $(this).removeClass('fill-red');
                    $(this).parent().children('.like-count').removeClass('fill-red');
                }
                else{
                    $(this).addClass('fill-red');
                    $(this).parent().children('.like-count').addClass('fill-red');
                }
                location.reload();
            },
            error: function (request, status, error) {
                console.log("Error : Like Button", request, status, error);
            },
            complete: function (data) {
                console.log("Complete : Like Button", data);
            }
        });
    }
});
$('.comment-hate-container > .hate-icon').click(function(){
    let user_id = '{{user.id}}';
    let isLike = $('.like-icon[comment-id='+$(this).attr('comment-id')+']').hasClass('fill-red');
    let isHate = $(this).hasClass('fill-blue');

    if (!isLike) {
        $.ajax({
            url: "/community/comment/hate/"+$(this).attr('comment-id'),
            data: {
                user_id: user_id,
                is_hate: isHate
            },
            type: "POST",
            success: function (data) {
                console.log("Success : Hate Button", data);
                if (isHate){
                    $(this).removeClass('fill-blue');
                    $(this).parent().children('.hate-count').removeClass('fill-blue');
                }
                else{
                    $(this).addClass('fill-blue');
                    $(this).parent().children('.hate-count').addClass('fill-blue');
                }
                location.reload();
            },
            error: function (request, status, error) {
                console.log("Error : Hate Button", request, status, error);
            },
            complete: function (data) {
                console.log("Complete : Hate Button", data);
            }
        });
    }
});

$(".delete-posting").click(function(){
    console.log('{{posting.id}}')
    console.log('{{posting.reality.id}}')
    $.ajax({
        url: "/community/delete/"+'{{posting.id}}',
        type: "POST",
        success: function (data) {
            console.log("Success : Delete Posting Button", data);
            location.replace("/community/"+'{{posting.reality.id}}')
        },
        error: function (request, status, error) {
            console.log("Error : Delete Posting Button", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Delete Posting Button", data);
        }
    });
});


$(".comment-setting-delete-btn").click(function(){
    $(".delete-comment").attr("comment-id", $(this).attr("comment-id"));
});

$(".delete-comment").click(function(){
    $.ajax({
        url: "/community/comment/delete/"+ $(this).attr("comment-id"),
        type: "POST",
        success: function (data) {
            console.log("Success : Delete Posting Button", data);
            location.reload();
        },
        error: function (request, status, error) {
            console.log("Error : Delete Posting Button", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Delete Posting Button", data);
        }
    });
})
$(".recommend-posting").click(function(e){
    let posting_id = $(this).attr("posting-id");
    location.href="/community/read/"+posting_id;
})
$(".comment-setting-update-btn").click(function(e){
    var comment_id = $(this).attr('comment-id');
    var tabs = $(".tabs[comment-id="+comment_id+"]");
    var content = tabs.children(".comment-content");
    var update_container = tabs.children(".input-group");
    var update_content = update_container.children('input');

    content.addClass('d-none');
    update_content.val(content.text().trim());
    update_container.removeClass('d-none');
})

$(".comment-update-btn").click(function(e){
    var comment_id = $(this).attr('comment-id');
    var tabs = $(".tabs[comment-id="+comment_id+"]");
    var content = tabs.children(".comment-content");
    var update_container = tabs.children(".input-group");
    var update_content = update_container.children('input');

    content.removeClass('d-none');
    content.text(update_content.val().trim());
    update_container.addClass('d-none');

    var s = update_content.val().trim();

    if (s=='') return alert('내용을 입력하세요.');

    $.ajax({
        url: "/community/comment/update/"+comment_id,
        data: {
            content: s
        },
        type: "POST",
        success: function (data) {
            console.log("Success : Update Comment Button", data);
        },
        error: function (request, status, error) {
            console.log("Error : Update Comment Button", request, status, error);
        },
        complete: function (data) {
            console.log("Complete : Update Comment Button", data);
        }
    });
})

</script>
{% endblock %}