#reality-list{
    list-style: none;
}
ul {
    padding-left: 0;
}
.btn {
    width:100%;
}

.label-container {
    font-weight: bold;
}

.desc {
    color: gray;
}

.btn {
    border-radius: 0;
}
body {
    overflow: visible;
}
.form-control {
    width: auto;
    text-align: center;
}
.reality-empty{
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 0.825rem;
}